<system.webServer>
	<modules runAllManagedModulesForAllRequests="true" />
	<staticContent>
		<remove fileExtension=".svg" />
		<remove fileExtension=".woff" />
		<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
		<mimeMap fileExtension=".woff" mimeType="application/x-woff" />
	</staticContent>
</system.webServer>