<div class="container" layout="column">
  <md-card style="max-width: 800px">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Profile</h2>
      </div>
    </md-toolbar>
    <md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column">
      <md-chips>
        <md-chip ng-style="me.msaUserId ? { 'background-color': '#a3e9a4'} : {}"">Microsoft Account<span ng-hide="me.msaUserId">
             - <a href="/catchCode/msa">Sign in</a>
          </span></md-chip>
        <md-chip ng-style="me.aadUserId ? { 'background-color': '#a3e9a4'} : {}">Office 365 Account<span ng-hide="me.aadUserId">
             - <a href="/catchCode/aad">Sign in</a>
          </span></md-chip>
      </md-chips>
    </md-content>
    <md-content layout-padding>
      <form name="userForm">
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>First name</label>
            <input ng-model="me.firstName">
          </md-input-container>
          <md-input-container flex>
            <label>Last Name</label>
            <input ng-model="me.lastName">
          </md-input-container>
        </div>
        <div layout layout-sm="column">
          <md-input-container>
            <label>Email</label>
            <input ng-model="me.email" type="email">
          </md-input-container>
        </div>
        <div layout layout-sm="row">
          <md-switch ng-model="me.sendPredictionEmails" aria-label="Send Predictions">Send Prediction Emails</md-switch>
          <md-button class="md-icon-button"><md-icon ng-style="{color: #777}" aria-label="email">email</md-icon></md-button>
        </div>
        <div layout layout-sm="row">
          <md-switch ng-model="me.sendSummaryEmails" aria-label="Send Predictions">Send Summary Emails</md-switch>
          <md-button class="md-icon-button"><md-icon ng-style="{color: #777}" aria-label="email">email</md-icon></md-button>
        </div>
        <div layout layout-sm="column">
          <md-button class="md-raised md-primary" ng-click="updateProfile()">Update</md-button>
        </div>
      </form>
    </md-content>
  </md-card>
</div>